<section class="" id="intro">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <h1><?= $this->__("Marvin")?> <br/> <?= $this->__("Hertsoen") ?></h1>
              <p><?= $this->__("Developpeur Fullstack Magento") ?></p>
                  <a style="color:#212529" href="https://www.linkedin.com/in/marvin-hertsoen-7189a6106/" target="_blank"><i class="fab fa-linkedin-in fa-3x"></i></a>
              <a style="color:#212529" href="https://gitlab.com/marvinhertsoen" target="_blank"><i class="fab fa-gitlab fa-3x"></i></a>
              <a style="color:#212529" href="#" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a>
          </div>
      </div>
  </div>
</section>
<?php
/*    echo Mage::helper("portfolio")->test();
*/?>
