<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading"><i class="fas fa-terminal"></i> <?= $this->__("contactez-moi !")?> </h2>
                <hr class="my-4">
                <p class="mb-5"><?= $this->__("You want to start a project with me or need some info ? Give me a call or send me an email and i'll get back to you as soon as possible!")?></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center text-primary">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>07.63.19.65.28</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="mailto:hertsoen.m@gmail.com" class='text-primary'>
                    <i class="fas fa-envelope fa-3x mb-3 sr-contact"></i>
                    <p>
                        hertsoen.m@hotmail.fr
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>