<section class="p-0" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><i class="fas fa-terminal"></i> <?= $this->__("mes projets")?></h2>
        <hr class="my-4">
      </div>
    </div>
  </div>

  <div class="container"> <!-- container-fluid p-0 -->
    <div class="row popup-gallery">  <!-- no-gutters -->

      <div class="portfolio-item col-lg-4 col-sm-6">
        <a class="portfolio-box" href="<?= Mage::getDesign()->getSkinUrl()."images/fullsize/factorian.png";?>">
          <img class="img-fluid" src="<?= Mage::getDesign()->getSkinUrl()."images/fullsize/factorian.png";?>" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Intégration
              </div>
              <div class="project-name">
                Intégration d'une maquette graphique en HTML/CSS avec le CMS CONCRETE5
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="portfolio-item col-lg-4 col-sm-6">
        <a class="portfolio-box" href="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/fullsize/2.jpg">
          <img class="img-fluid" src="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/thumbnails/2.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="portfolio-item col-lg-4 col-sm-6">
        <a class="portfolio-box" href="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/fullsize/3.jpg">
          <img class="img-fluid" src="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/thumbnails/3.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="portfolio-item col-lg-4 col-sm-6">
        <a class="portfolio-box" href="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/fullsize/4.jpg">
          <img class="img-fluid" src="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/thumbnails/4.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="portfolio-item col-lg-4 col-sm-6">
        <a class="portfolio-box" href="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/fullsize/5.jpg">
          <img class="img-fluid" src="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/thumbnails/5.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="portfolio-item col-lg-4 col-sm-6">
        <a class="portfolio-box" href="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/fullsize/6.jpg">
          <img class="img-fluid" src="http://marvinhertsoen.local/skin/frontend/rwd/portfolio/images/thumbnails/6.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Category
              </div>
              <div class="project-name">
                Project Name
              </div>
            </div>
          </div>
        </a>
      </div>


    </div>

    <div class="row magallerie">
      <div class="col-md-4">
          <a class="portfolio-box" data-toggle="modal" data-target="#modal_travauxEf">
            <img class="img-fluid" src="<?= Mage::getDesign()->getSkinUrl()."images/fullsize/total-logo.png";?>" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Intégration
                </div>
                <div class="project-name">
                  Intégration d'une maquette graphique en HTML/CSS avec le CMS CONCRETE5
                </div>
              </div>
            </div>
          </a>
      </div>
    <div>
  </div>
</section>
