<section class="bg-dark" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white"><i class="fas fa-terminal"></i> <?= $this->__("Qui suis-je ?")?></h2>
        <hr class="light my-4">
        <p class="text-faded mb-4"><?= $this->__("Etudiant curieux et passionné par le en Master - Ingénierie du Logiciel Libre en alternance à l'Université du Littoral Côte d'Opale de Calais, et je travaille pour l'agence web Adexos Béthune.") ?></p>
<!--        <a class="btn btn-light btn-xl" href="downloadCV" id="btn_download_cv">Télécharger mon CV <i class="fas fa-cloud-download-alt"></i></a>
-->        <a class="btn btn-light btn-xl" href="<?= Mage::getDesign()->getSkinUrl()."cv/CV_HERTSOEN_MARVIN.pdf" ?>" target="_blank" id="btn_download_cv"><?= $this->__("Télécharger mon CV ") ?><i class="fas fa-cloud-download-alt"></i></a>
      </div>
    </div>
  </div>
</section>
<?php
/*    echo Mage::helper("portfolio")->test();
*/?>
