<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal">
    Launch demo modal
</button>


<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Factorian</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <p>images</p>
                    </div>
                    <div class="col-sm-5">
                        <p style="border-right: 1px solid #e9ecef">
                            Intégration d'une maquette graphique vers une page du cms Concrete5.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel neque eget ipsum tempor sollicitudin. Curabitur quis bibendum diam. Aenean quis mollis felis. Donec convallis malesuada lacinia.
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <span >Technologies</span>
                        <ul>
                            <li>CMS Concrete 5</li>
                            <li>HTML/CSS</li>
                            <li>PHP</li>
                            <li>MySQL</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><?= $this->__("Voir en ligne > ") ?></button>
            </div>

        </div>
    </div>
</div>
<!--

Création d'unblog permettant d'écrire et noter des messages en PHP/ Mysql

Intégration d'une maquette graphique - Cité de La Dentelle - Desktop et Mobile

Création d'une application web de centralisation, supervision et management de travaux hors-contrat pour la société Total-SA - Etablissement des Flandres
-->