<?php
    /* Cf. design/frontend/rwd/default/template/page/html/header.phtml*/
?>
<script type="text/javascript">jQuery.noConflict();</script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">