/***************** Surcharge globales site ******************************/

body {
  font-family: montserrat, Verdana, Arial, sans-serif!important;
}
.bg-dark, .btn-primary{
  background-color:#36454F!important;
}
.text-primary{
  color:#56657F!important;
}
hr{
  border-color:#36454F;
}
a
{
  color:#56657F;
}
h1{
  color:#636363;
}

body.cms-home .main-container, body.cms-home {
  padding-left:0;
  //padding-top:55px !important;
  padding-right:0;
  max-width: unset;
}

section#intro{
  height:100vh;
  display: flex;
  align-items: center;

  h1{
    font-size:70px;
    font-weight: 700;
    line-height: 1;
  }
  p{
    font-size:25px;
    padding-bottom:30px;
    margin-bottom:30px;
    border-bottom: 2px solid black;
  }
  .fab{
    margin-right:15px;
    &:hover{
      color:#636363;
    }
    //&.fa-linkedin-in:hover{
    //  &:before{
    //    content:"\f08c";
    //  }
    //}
  }
}

section#skills{
  background-color: #FAFAFA;
}

header.masthead {
  /*  background-image: url(../img/wallpaper3.jpg);*/
}



#mainNav {
  background-color: #36454F;
  padding: 0 16px;
  height: 56px;

  &>div{
    padding:0;
  }
  #navbarResponsive {
    height: 56px;

    ul.navbar-nav {
      height: 100%;

      & > li.nav-item {
        &:hover {
          background-color:white;
          a{
            color: #36454f;
          }
        }

        & > a.nav-link {
          height: 100%;

          &.active, &:focus.active {
            background-color: #36454F;
            color: white !important;
          }
        }
      }
    }
  }

  &.navbar-shrink {
    .navbar-brand {
      color: #36454F;
    }
    ul.navbar-nav {
      & > li.nav-item {

        &:hover{
          background-color: #36454F!important;
          a{
            color: white!important;
          }
        }
      }
    }
  }
}

 .portfolio-box .portfolio-box-caption{
    background-color:rgba(54, 69, 79,0.6);
  }

  /**************************************************************************/


  /***************** Navbar ******************************/


  @media screen and (min-width: 992px){   /* On centre les ancres de la navbar*/
    #mainNav .navbar-nav>li.nav-item>a.nav-link {
      padding-top: 17px;
    }
  }


  /**************************************************************************/

  .portfolio-item{ /*:nth-child(3n)*/
    /*margin-bottom:30px;*/
    padding:unset;
  }

  .picture_me{
    border-radius: 50%;
    width: 25%;
  }
  .modal-footer{
    border-top: none;
  }

  #particles-js {
    background-color: unset; /* On voit l'image d'arrière plan*/
    /*
    background-image: url("");
    */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  #particles-js canvas{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .popup-gallery{
    a{
      height:100%;

      img{
        height:100%;
        width:100%;
      }
    }
  }

  .btn{
    border-radius:15px;
  }


  .slick-container {
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    color: #333;
    background: #419be0;
  }

  .slick-slide {
    text-align: center;
    color: #419be0;
    background: white;
  }

  .footer-container{
    text-align: center;
    color:white;
    padding:5px 0;
    background-color:#36454F;
  }

.modal-dialog{
  max-width: 80%;
}

/*
@media (min-width: 992px)
#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #56657F;
}
*/

